* {
    margin:0;
    padding:0;
}

body {
   background-color: #548687; 
   text-align:center;
}
.container {
    height:70vh;
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    align-items:center;
 

}
.game {
    height:60vmin;
    width:60vmin;
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    align-items:center;
    gap:1.5vmin;
}
.box {
    height:18vmin;
    width:18vmin;
    border-radius:1rem;
    box-shadow: 0 0 2rem rgba(0,0,0,0.4);
    font-size:8vmin;
    color:#b0413e;
    background-color: #ffffc7;
}
#reset {
     
    height:8vmin;
    width:15vmin;
    background-color:#191913;
    color:#fff;
    text-align: center;
    border:none;
    font-size:1.20rem;
    border-radius:1rem;
    box-shadow: 0 0 2rem rgba(0,0,0,0.4);
}
#newgame {
    height:8vmin;
    width:15vmin;
    background-color:#191913;
    color:#fff;
    text-align: center;
    border:none;
    font-size:1.20rem;
    border-radius:1rem;
    box-shadow: 0 0 2rem rgba(0,0,0,0.4);
}

#msg {
    color:#ffffc7;
   font-size:8vmin;
   font-family: Arial, Helvetica, sans-serif;
}
.msg-conainer {
    height:20vmin;

}
.hide {
    display:none;
}